@use 'colors';

@mixin btn($bgColor:colors.$buttonColor, $btn-padding: 0.8em){
    background-color: $bgColor;
    padding: $btn-padding;
    border-radius: 1.5em;
    text-decoration: none;
    text-align: center;
    color: colors.$buttonTextColor;
    margin-left: 4.5em;
    margin-bottom: 2em;
    font: colors.$Font;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.05em;
}

@mixin section1{
    width: 100%;
    min-height: 10em;
    padding-bottom: 4em;
    background-color: colors.$primaryBgColor;
    display: flex;
    flex-direction: row;
}

@mixin section2{
    width: 100%;
    min-height: 10em;
    padding: 4em;
    background-color: colors.$secondaryBgColor;
    display: flex;
    flex-direction: row;
}